!!!
%html{"xmlns:fb" => "http://www.facebook.com/2008/fbml", "xmlns:og" => "http://ogp.me/ns#"}
  %head
    %link{:href => "http://ia.media-imdb.com/images/G/01/imdb/images/desktop-favicon-2165806970._V397576415_.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "http://ia.media-imdb.com/images/G/01/imdb/images/apple-touch-icon-3173846443._V397576421_.png", :rel => "apple-touch-icon"}/
    %link{:href => "/stylesheets/main.css", :rel => "stylesheet", :type => "text/css"}/
    %meta{:content => "Elly and Jon Get Married (2014) - IMDb", :name => "title"}/
    %meta{:content => "With Elly Wright, Jon Neale and a cast of thousands. When Jon Neale is forced to build an armored suit after a life-threatening incident, he ultimately decides to use its technology to fight against evil - with hilarious consequences", :name => "description"}/
    %body#styleguide-v2.fixed
      #wrapper
        #root.redesign
          #nb20.navbarSprite
            #navbar.navbarSprite
              /[if IE] <link rel="stylesheet" type="text/css" href="http://z-ecx.images-amazon.com/images/G/01/imdb/css/site/consumer-navbar-ie-470687728._V397576211_.css">
              %span#home_img_holder
                %a#home_img.navbarSprite{:href => "/", :onclick => "(new Image()).src='/rg/home/navbar/images/b.gif?link=/';", :title => "Home"}
                %span.alt_logo
                  %a{:href => "/", :onclick => "(new Image()).src='/rg/home/navbar/images/b.gif?link=/';", :title => "Home"} IMDb
          #pagecontent{:itemscope => "", :itemtype => "http://schema.org/Movie"}
            #content-2-wide.redesign
              #maindetails_center_top.maindetails_center
                .article.title-overview
                  #title-overview-widget
                    %table#title-overview-widget-layout{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                      %tbody
                        %tr
                          %td#img_primary{:rowspan => "2"}
                            .image
                              %img{:alt => "Elly and Jon are getting married (2014)", :src => "/images/ring.png", :title => "Elly and Jon are getting married (2014)"}/
                          %td#overview-top
                            #prometer_container
                              #prometer.meter-collapsed.down
                                #meterHeaderBox
                                  #meterTitle.meterToggleOnHover MOVIEmeter
                                  %a#meterRank{:href => "/r/tt_moviemeter_why/title/tt0371746", :onclick => "(new Image()).src='/rg/tt_moviemeter_why/prosystem/  images/b.gif?link=/r/tt_moviemeter_why/title/tt0371746';"}
                                    Top 500
                                #meterChangeRow.meterToggleOnHover
                                  %span Down
                                  %span#meterChange 260
                                  %span this week
                                #meterSeeMoreRow.meterToggleOnHover
                                  %a{:href => "/r/tt_moviemeter_why/title/tt0371746", :onclick => "(new Image()).src='/rg/tt_moviemeter_why/prosystem/images/b.  gif?link=/r/tt_moviemeter_why/title/tt0371746';"} View rank on IMDbPro
                                  %span »
                            %h1.header
                              %span.itemprop{:itemprop => "name"} Elly and Jon Get Married
                              %span.nobr
                                (
                                %a{:href => "/year/2008/?ref_=tt_ov_inf"}> 2014
                                )
                            .infobar
                              %span.us_pg_13.titlePageSprite.absmiddle{:content => "PG-13", :itemprop => "contentRating", :title => "PG-13"}
                              %time{:datetime => "PT126M", :itemprop => "duration"}
                                428 min
                              \ - 
                              %a{:href => "/genre/Action?ref_=tt_ov_inf"}
                                %span.itemprop{:itemprop => "genre"} Action
                              %span.ghost |
                              %a{:href => "/genre/Adventure?ref_=tt_ov_inf"}
                                %span.itemprop{:itemprop => "genre"} Adventure
                              %span.ghost |
                              %a{:href => "/genre/Sci-Fi?ref_=tt_ov_inf"}
                                %span.itemprop{:itemprop => "genre"} Sci-Fi
                              \ - 
                              %span.nobr
                                %a{:href => "/title/tt0371746/releaseinfo?ref_=tt_ov_inf ", :title => "See all release dates"}
                                  5 July 2014
                                  %meta{:content => "2014-06-21", :itemprop => "datePublished"}/
                                  (Brighton, UK)
                            .star-box.giga-star
                              .titlePageSprite.star-box-giga-star 9.4
                              .star-box-rating-widget
                                %span.star-box-rating-label Your rating:
                                .rating.rating-list{"data-auth" => "", "data-ga-identifier" => "", "data-starbar-class" => "rating-list", "data-user" => "", :id => "  tt0371746|imdb|0|0|title-maindetails", :title => "Users rated this 9.4/10 (404,857 votes) - click stars to rate"}
                                  %span.rating-bg  
                                  %span.rating-imdb{:style => "width: 0px"}  
                                  %span.rating-stars
                                    %a{:href => "/register/login?why=vote&ref_=tt_ov_rt", :rel => "nofollow", :title => "Register or login to rate this title"}
                                      %span 1
                                    %a{:href => "/register/login?why=vote&ref_=tt_ov_rt", :rel => "nofollow", :title => "Register or login to rate this title"}
                                      %span 2
                                    %a{:href => "/register/login?why=vote&ref_=tt_ov_rt", :rel => "nofollow", :title => "Register or login to rate this title"}
                                      %span 3
                                    %a{:href => "/register/login?why=vote&ref_=tt_ov_rt", :rel => "nofollow", :title => "Register or login to rate this title"}
                                      %span 4
                                    %a{:href => "/register/login?why=vote&ref_=tt_ov_rt", :rel => "nofollow", :title => "Register or login to rate this title"}
                                      %span 5
                                    %a{:href => "/register/login?why=vote&ref_=tt_ov_rt", :rel => "nofollow", :title => "Register or login to rate this title"}
                                      %span 6
                                    %a{:href => "/register/login?why=vote&ref_=tt_ov_rt", :rel => "nofollow", :title => "Register or login to rate this title"}
                                      %span 7
                                    %a{:href => "/register/login?why=vote&ref_=tt_ov_rt", :rel => "nofollow", :title => "Register or login to rate this title"}
                                      %span 8
                                    %a{:href => "/register/login?why=vote&ref_=tt_ov_rt", :rel => "nofollow", :title => "Register or login to rate this title"}
                                      %span 9
                                    %a{:href => "/register/login?why=vote&ref_=tt_ov_rt", :rel => "nofollow", :title => "Register or login to rate this title"}
                                      %span 10
                                  %span.rating-rating
                                    %span.value -
                                    %span.grey /
                                    %span.grey 10
                                  %span.rating-cancel
                                    %a{:href => "/title/tt0371746/vote?v=X;k=", :rel => "nofollow", :title => "Delete"}
                                      %span X
                                  \ 
                              .star-box-details{:itemprop => "aggregateRating", :itemscope => "", :itemtype => "http://schema.org/AggregateRating"}
                                Ratings:
                                %strong
                                  %span{:itemprop => "ratingValue"} 9.4
                                %span.mellow
                                  \/
                                  %span{:itemprop => "bestRating"} 10
                                from
                                = succeed "&nbsp;" do
                                  %a{:href => "ratings?ref_=tt_ov_rt", :title => "404,857 IMDb users have given a weighted average vote of 9.4/10"}
                                    %span{:itemprop => "ratingCount"} 404,857
                                    users
                                Metascore:
                                %a{:href => "criticreviews?ref_=tt_ov_rt", :title => "79 review excerpts provided by Metacritic.com"}
                                  79/100
                                %br/
                                Reviews:
                                %a{:href => "reviews?ref_=tt_ov_rt", :title => "980 IMDb user reviews"}
                                  %span{:itemprop => "reviewCount"} 980 user
                                %span.ghost |
                                %a{:href => "externalreviews?ref_=tt_ov_rt", :title => "459 IMDb critic reviews"}
                                  %span{:itemprop => "reviewCount"} 459 critic
                                %span.ghost |
                                %a{:href => "criticreviews?ref_=tt_ov_rt", :title => "38 review excerpts provided by Metacritic.com"}
                                  38
                                from
                                %a{:href => "http://www.metacritic.com", :target => "_blank"}
                                  Metacritic.com
                              .clear
                            %p
                            %p{:itemprop => "description"}
                              A poor, small town boy marries a princess in this heartwarming body swap comedy from the makers of "Hostel"
                            %p
                            .txt-block{:itemprop => "director", :itemscope => "", :itemtype => "http://schema.org/Person"}
                              %h4.inline Director:
                              %a{:href => "/name/nm0269463/?ref_=tt_ov_dr", :itemprop => "url"}
                                %span.itemprop{:itemprop => "name"} Jon Favreau
                            .txt-block{:itemprop => "creator", :itemscope => "", :itemtype => "http://schema.org/Person"}
                              %h4.inline Writers:
                              %a{:href => "/name/nm1318843/?ref_=tt_ov_wr", :itemprop => "url"}
                                %span.itemprop{:itemprop => "name"} Mark Fergus
                              (screenplay),
                              %a{:href => "/name/nm1319757/?ref_=tt_ov_wr", :itemprop => "url"}
                                %span.itemprop{:itemprop => "name"} Hawk Ostby
                              (screenplay),
                              = succeed "&nbsp;&raquo;" do
                                %a{:href => "fullcredits?ref_=tt_ov_wr#writers"} 6 more credits
                            .txt-block{:itemprop => "actors", :itemscope => "", :itemtype => "http://schema.org/Person"}
                              %h4.inline Stars:
                              %span.itemprop Eleanor Wright,
                              %span.itemprop Jon Neale,
                              %span.itemprop Beverley Wright
                              %span.see-more.inline
                                %a{:href => "#titleCast", :itemprop => "url"} See full cast and crew
                            %tr
                              %td#overview-bottom
                                %a.btn2.btn2_text_on.large{:href => "mailto:rsvp@ellyandjon.com"}
                                  %span.btn2_text RSVP
                                %span.btn2_wrapper
                                  %a.btn2.large.btn2_text_on{:href=>"#titleDetails"}
                                    
                                    %span.btn2_text Details...
                    
              #maindetails_sidebar_top.maindetails_sidebar
                / begin TOP_RHS
                #top_rhs_wrapper.dfp_slot
                 
                #top_rhs_reflow_helper

              #maindetails_sidebar_bottom.maindetails_sidebar
                .aux-content-widget-3.links.subnav{:div => "quicklinks"}
                  %h3.inline Quick Links
                  #maindetails_quicklinks
                    .split_0
                      %ul.quicklinks
                        %li.subnav_item_main
                          %a.link{:href => "#titleCast"} Full Cast and Crew
                        %li.subnav_item_main
                          %a.link{:href => "#titleDetails"} Details
                        %li.subnav_item_main
                          %a.link{:href => "#titleStoryLine"} Storyline
                        %li.subnav_item_main
                          %a.link{:href => "#titleTechnicalSpecs"} Technical Specs
                        %li.subnav_item_main
                          %a.link{:href => "/title/tt0371746/board/?ref_=tt_ql_5"} Message Board
                    .split_1
                      %ul.quicklinks
                        %li.subnav_item_main
                          %a.link{:href => "/title/tt0371746/plotsummary?ref_=tt_ql_6"} Plot Summary
                        %li.subnav_item_main
                          %a.link{:href => "/title/tt0371746/parentalguide?ref_=tt_ql_7"} Parents Guide
                        %li.subnav_item_main
                          %a.link{:href => "/title/tt0371746/reviews?ref_=tt_ql_8"} User Reviews
                        %li.subnav_item_main
                          %a.link{:href => "/title/tt0371746/releaseinfo?ref_=tt_ql_9"} Release Dates
                        %li.subnav_item_main
                          %a.link{:href => "/title/tt0371746/companycredits?ref_=tt_ql_10"} Company Credits
                  %hr/
                 
              #maindetails_center_bottom.maindetails_center
                #titleAwardsRanks.article.highlighted
                  %span{:itemprop => "awards"}
                  %b Nominated for 2 Oscars.
                  %span{:itemprop => "awards"} Another 14 wins & 43 nominations.
                  %span.see-more.inline
                    %a{:href => "/title/tt0371746/awards?ref_=tt_awd"}> See more awards
                    \ »
                #titleMediaStrip.article
                  .mediastrip_container.combined
                    #combined-photos
                      %h2 Photos
                      .mediastrip
                        %a{:href => "/images/past-photos/big/newyork.jpg"}
                          %img{:alt => "Still of Elly and Jon visiting the Empire State Building in New York", :title => "Still of Elly and Jon visiting the Empire State Building in New York", :src => "/images/past-photos/small/newyork.jpg"}/
                        %a{:href => "/images/past-photos/big/menorca.jpg"}
                          %img{:alt => "Still of Elly and Jon's holiday in Menorca", :title => "Still of Elly and Jon's holiday in Menorca", :src => "/images/past-photos/small/menorca.jpg"}/
                        %a{:href => "/images/past-photos/big/barcelona.jpg"}
                          %img{:alt => "Still of Elly and Jon visiting Barcelona", :title => "Still of Elly and Jon visiting Barcelona", :src => "/images/past-photos/small/barcelona.jpg"}/
                        %a{:href => "/images/past-photos/big/olympics.jpg"}
                          %img{:alt => "Still of Elly and Jon at the London Olympics games", :title => "Still of Elly and Jon at the London Olympics games", :src => "/images/past-photos/small/olympics.jpg"}/  
                    .combined-see-more.see-more
                      %a{:href => "/title/tt0371746/mediaindex?ref_=tt_pv_mi_sm"}
                        %span.titlePageSprite.showAllVidsAndPics
                      %a{:href => "/title/tt0371746/mediaindex?ref_=tt_pv_mi_sm"} 155 photos
                      %span |
                      %a{:href => "/title/tt0371746/videogallery?ref_=tt_pv_vi_sm"} 17 videos
                      %span |
                      %a{:href => "/title/tt0371746/news?ref_=tt_pv_nw_sm"} 20355 news articles
                      \»
                #titleCast.article
                  %span.rightcornerlink
                    %a{:href => "/register/login?why=edit&ref_=tt_cl", :rel => "login"} Edit
                  %h2 Cast
                  %table.cast_list
                    %tr
                      %td.castlist_label{:colspan => "4"} Cast overview, first billed only:
                    %tr.odd
                      %td.primary_photo
                        %a{:href=>'/images/family-photos/big/eleanor.jpg'}
                          %img{:alt => "Eleanor Wright", :src => "/images/family-photos/small/eleanor.jpg", :title => "Eleanor Wright"}/
                      %td.itemprop
                        %span.itemprop Eleanor Wright
                      %td.ellipsis
                        \...
                      %td.character
                        %div
                          The Bride
                    %tr.even
                      %td.primary_photo
                        %a{:href=>'/images/family-photos/big/jonathan.jpg'}
                          %img{:alt => "Jonathan Neale", :src => "/images/family-photos/small/jonathan.jpg", :title => "Jonathan Neale"}/
                      %td.itemprop
                        %span.itemprop Jonathan Neale
                      %td.ellipsis
                        \...
                      %td.character
                        %div
                          The Groom
                    %tr.odd
                      %td.primary_photo
                        %a{:href=>'/images/family-photos/big/bev.jpg'}
                          %img{:alt => "Beverley Wright", :src => "/images/family-photos/small/bev.jpg", :title => "Beverley Wright"}/
                      %td.itemprop
                        %span.itemprop Beverley Wright
                      %td.ellipsis
                        \...
                      %td.character
                        %div
                          Mother of The Bride
                    %tr.even
                      %td.primary_photo
                        %a{:href=>'/images/family-photos/big/roberta.jpg'}
                          %img{:alt => "Roberta Cresswell", :src => "/images/family-photos/small/roberta.jpg", :title => "Roberta Cresswell"}/
                      %td.itemprop
                        %span.itemprop Roberta Cresswell
                      %td.ellipsis
                        \...
                      %td.character
                        %div
                          Eleanor's Big Sister
                    %tr.odd
                      %td.primary_photo
                        %a{:href=>'/images/family-photos/big/simon.jpg'}
                          %img{:alt => "Simon Cresswell", :src => "/images/family-photos/small/simon.jpg", :title => "Simon Cresswell"}/
                      %td.itemprop
                        %span.itemprop Simon Cresswell
                      %td.ellipsis
                        \...
                      %td.character
                        %div
                          Roberta's Husband
                    %tr.even
                      %td.primary_photo
                        %a{:href=>'/images/family-photos/big/madeleine.jpg'}
                          %img{:alt => "Madeleine Wright", :src => "/images/family-photos/small/madeleine.jpg", :title => "Madeleine Wright"}/
                      %td.itemprop
                        %span.itemprop Madeleine Wright
                      %td.ellipsis
                        \...
                      %td.character
                        %div
                          Eleanor's Little Sister
                    %tr.odd
                      %td.primary_photo
                        %a{:href=>'/images/family-photos/big/luke.jpg'}
                          %img{:alt => "Luke Westaway", :src => "/images/family-photos/small/luke.jpg", :title => "Luke Westaway"}/
                      %td.itemprop
                        %span.itemprop Luke Westaway
                      %td.ellipsis
                        \...
                      %td.character
                        %div
                          Madeleine's Boyfriend
                  .see-more
                    %a{:href => "fullcredits?ref_=tt_cl_sm#cast"}> Full cast and crew
                    \ »
                #titleStoryLine.article
                  %span.rightcornerlink
                    %a{:href => "/register/login?why=edit&ref_=tt_stry", :rel => "login"} Edit
                  %h2 Storyline
                  .inline.canwrap{:itemprop => "description"}
                    %p
                      Elly and Jon invite you to join them in celebrating their wedding at the Prince Albert in Camden on the 5th July, 2014
                  .txt-block
                    %h4.inline Date:
                    5th July, 2014
                  .txt-block
                    %h4.inline Early Birds:
                    Arrive at 3pm for Afternoon Tea
                  .txt-block
                    %h4.inline Party Goers:
                    Arrive at 6pm for Food and Drinks
                  .txt-block
                    %h4.inline Entertainment:
                    %a{:href => "https://www.facebook.com/musicthebandwithnoname", :itemprop => "url"} The Band With No Name (TBC)
                  .txt-block
                    %h4.inline Food and Drink:
                    There will be an open bar, and buffet food all evening. If you have any special requirements,
                    %a{:href=>"mailto:info@ellyandjon.com"} please let us know.
			      
                  %span.see-more.inline
                    %a{:href => "/title/tt0371746/plotsummary?ref_=tt_stry_pl"} Plot Summary
                    %span |
                    %a{:href => "/title/tt0371746/synopsis?ref_=tt_stry_pl"} Plot Synopsis
                  %hr/
                  .see-more.inline.canwrap{:itemprop => "keywords"}
                    %h4.inline Plot Keywords:
                    %span fun
                    %span |
                    %span celebration
                    %span |
                    %span explosions
                    %span |                    
                    %span millionaire playboy
                    %span |
                    %span armor

                   
                  %hr/
                  .txt-block
                    %h4.inline Taglines:
                    Get ready for a different breed of heavy metal hero.
                    %span.see-more.inline
                      %a{:href => "/title/tt0371746/taglines?ref_=tt_stry_tg"}> See more
                      \ »
                  %hr/
                  .see-more.inline.canwrap{:itemprop => "genre"}
                    %h4.inline Genres:
                    = succeed "&nbsp;" do
                      %a{:href => "/genre/Action?ref_=tt_stry_gnr"} Action
                    %span |
                    = succeed "&nbsp;" do
                      %a{:href => "/genre/Adventure?ref_=tt_stry_gnr"} Adventure
                    %span |
                    %a{:href => "/genre/Sci-Fi?ref_=tt_stry_gnr"} Sci-Fi
                  %hr/
                  .txt-block
                    %h4
                      Motion Picture Rating
                      (
                      %a{:href => "/mpaa?ref_=tt_stry_pg"}> MPAA
                      )
                    %span{:itemprop => "contentRating"} Rated PG-13 for some intense sequences of sci-fi action and violence, and brief suggestive content
                    %span.ghost |
                    %span.see-more.inline
                      %a{:href => "/title/tt0371746/parentalguide?ref_=tt_stry_pg#certification"}> See all certifications
                      \ »
                  .txt-block
                    %h4.inline Parents Guide:
                    %span.see-more.inline{:itemprop => "audience", :itemscope => "", :itemtype => "http://schema.org/Audience"}
                      %a{:href => "/title/tt0371746/parentalguide?ref_=tt_stry_pg", :itemprop => "url"}> View content advisory
                      \ »
                #titleDetails.article
                  %h2 Details
                  .txt-block
                    %h4.inline Location:
                    %a{:href => "http://princealbertcamden.com/"} The Prince Albert, Camden
                  .txt-block
                    %h4.inline Address:
                    %a{:href => "https://maps.google.co.uk/maps?q=163+ROYAL+COLLEGE+STREET+LONDON+NW1+0SG&um=1&ie=UTF-8&hl=en&sa=N&tab=wl&authuser=0"} 163 RoyaCollege Street, London, NW1 0SG
                  .txt-block
                    %h4.inline Transportation:
                    Next to Camden Road station on the London Overground
                  %hr/
                #titleTechnicalSpecs.article
                  %h2 Technical Specs
                  .txt-block
                    %h4.inline Attire:
                    Smart Formal, but don't forget your dancing shoes!
                  .txt-block
                    %h4.inline Gifts:
                    If you would like to buy us a gift, thank you! We will be providing a list soon


                  #titleDidYouKnow.article
                  %h2 Did You Know?
                  #trivia.txt-block
                    %h4 Trivia
                    400 extras were meant to be filmed standing at Tony Stark's press conference, but
                    %a{:href => "/name/nm0000375/?ref_=tt_trv_trv"} Robert Downey Jr.
                    suggested they ought to sit down, as that would be more realistic and comfortable.
                    %a.nobr{:href => "trivia?ref_=tt_trv_trv"} See more
                    \»
                  %hr/
                  #goofs.txt-block
                    %h4 Goofs
                    In the beginning sequence when Tony Stark is in Afghanistan riding in a HMMWV without armor protection with several US Air Force AirmenAn   up   armored HMMWV's doors have very thick armor and glass. You can tell by looking at the blast holes in the side of the vehicle thiis not   an   armored variant of the HMMWV. This is almost impossible. Months after the US military attacked Afghanistan a General Order wamade   that   prohibited non up-armored HMMWV's from leaving any base camps. Certainly, if Tony Stark was traveling with the US military hwould   have been   afforded the highest level of security.
                    %a.nobr{:href => "trivia?tab=gf&ref_=tt_trv_gf"} See more
                    \»
                  %hr/
                  #quotes.text-block
                    %h4 Quotes
                    [
                    %span.fine> first lines
                    ]
                    %br/
                    = succeed ":" do
                      %a{:href => "/name/nm0000375/?ref_=tt_trv_qu"}
                        %span.character Tony Stark
                    I feel like you're driving me to court martial. This is crazy. What did I do? I feel like you're gonna pull over and snuff me. Whatyou're   not   allowed to talk? Hey, Forrest!
                    %br/
                    = succeed ":" do
                      %a{:href => "/name/nm1080555/?ref_=tt_trv_qu"}
                        %span.character Jimmy
                    We can talk, sir.
                    %br/
                    = succeed ":" do
                      %a{:href => "/name/nm0000375/?ref_=tt_trv_qu"}
                        %span.character Tony Stark
                    Oh, I see. So it's personal.
                    %br/
                    = succeed ":" do
                      %a{:href => "/name/nm0918814/?ref_=tt_trv_qu"}
                        %span.character Ramirez
                    No, you intimidate them.
                    %br/
                    = succeed ":" do
                      %a{:href => "/name/nm0000375/?ref_=tt_trv_qu"}
                        %span.character Tony Stark
                    Good God, you're a woman! I honestly, I couldn't have called that. I mean, I would apologize, but isn't that what we're going for hereI     thought of you as a soldier first.
                    %br/
                    = succeed ":" do
                      %a{:href => "/name/nm0918814/?ref_=tt_trv_qu"}
                        %span.character Ramirez
                    I'm an airman.
                    %br/
                    = succeed ":" do
                      %a{:href => "/name/nm0000375/?ref_=tt_trv_qu"}
                        %span.character Tony Stark
                    Well, you have actually excellent bone structure ...
                    %br/
                    [...]
                    %br/
                    %a.nobr{:href => "trivia?tab=qt&ref_=tt_trv_qu"} See more
                    \»
                  %hr/
                  #crazyCredits.txt-block
                    %h4 Crazy Credits
                    SPOILER: A scene appears after the closing credits: Tony Stark arrives home to find SHIELD director Nick Fury waiting for him so that they can   discuss the Avengers Initiative. This leads into
                    %a{:href => "/title/tt0848228/?ref_=tt_trv_cc"} The Avengers
                    (a superhero team of which Iron Man is a founding member).
                    %a.nobr{:href => "trivia?tab=cz&ref_=tt_trv_cc"} See more
                    \»
                  %hr/
                  #connections.text-block
                    %h4 Connections
                    Referenced in
                    = succeed "&nbsp;(2010)" do
                      %a{:href => "/title/tt1512235/?ref_=tt_trv_cnn"} Super
                    %a.nobr{:href => "trivia?tab=mc&ref_=tt_trv_cnn"} See more
                    \»
                  %hr/
                  #soundtracks.text-block
                    %h4 Soundtracks
                    %a{:href => "https://www.facebook.com/musicthebandwithnoname"} The Band With No Name
                    %br/
                    %br/
                    Featuring
                    %br/
                    %br/
                    Thud (Clive Taylor) - Drums
                    %br/
                    Machine Gun (Clive Henry) - Harmonica
                    %br/
                    Tin Tin (Dave Bradley) - on vocals and Rhythm Guitar
                    %br/
                    Westy (Phil Westerman) - Bass
                    %br/
                    %a.nobr{:href => "http://www.thamenews.net/readmore.asp?Content_ID=7722"} See more
                    \»
              #content-1.redesign.clear
                #titleFAQ.article
                  %h2 Frequently Asked Questions
                  .faq
                    .odd
                      %b Q:
                      %a{:href => "/title/tt0371746/faq?ref_=tt_faq_1#.2.1.40"} Is Iron Man available on DVD and Blu-Ray?
                    .even
                      %b Q:
                      %a{:href => "/title/tt0371746/faq?ref_=tt_faq_2#.2.1.17"} Do other characters from the Marvel Universe make an appearance in Iron Man?
                    .odd
                      %b Q:
                      %a{:href => "/title/tt0371746/faq?ref_=tt_faq_3#.2.1.52"} What does SHIELD stand for?
                  
                    %span.see-more.inline
                      %a.nobr{:href => "/title/tt0371746/faq?ref_=tt_faq_sm"} See more
                      %span.spoilers (Spoiler Alert!)
                #titleUserReviewsTeaser.article
                  %h2 User Reviews
                  .user-comments
                    .tinystarbar{:title => "8/10"}
                      %div{:style => "width: 80px;"}  
                    %span{:itemprop => "review", :itemscope => "", :itemtype => "http://schema.org/Review"}
                      %strong{:itemprop => "name"} Heavy boots of lead, fills his victims full of dread, running as fast as they can, Iron man lives again!
                      %span{:itemprop => "reviewRating", :itemscope => "", :itemtype => "http://schema.org/Rating"}
                        %meta{:content => "1", :itemprop => "worstRating"}/
                        %meta{:content => "8", :itemprop => "ratingValue"}/
                        %meta{:content => "10", :itemprop => "bestRating"}/
                    .comment-meta
                      2 May 2008 | by
                      %a{:href => "/user/ur1293485/?ref_=tt_urv"}
                        %span{:itemprop => "author"} Kristine (kristinedrama14@msn.com)
                      %meta{:content => "2008-05-02", :itemprop => "datePublished"}/
                      (Chicago, Illinois)
                      \–
                      %a{:href => "/user/ur1293485/comments?ref_=tt_urv"} See all my reviews
                    %div
                      %p{:itemprop => "reviewBody"}
                        Iron Man, the huge kick off to the big summer blockbusters of summer 2008, a great start. I have to say that originally I had my concerns,     when I saw the trailer, this movie looked way over done and Robert Downy, Jr. as the hero? The guy is a great actor, but as a super hero?   I   wasn't so sure, but I was able to see Iron Man today and all my doubts were put behind me as I watched. This is one of best comic book     adaptations put to film in a very long time, since the original Spider Man I think. The effects were not actually too over the top, only   when   needed, but it gave that extra feel of a comic book. Robert Downy, Jr., I couldn't believe how well of a performance he pulled off,   there   still is a little question of his casting, but he pulled off Tony Stark seamlessly. This is a very entertaining action film and is   such a   great blockbuster that is sure to please any film buff.
                        %br/
                        = succeed "Tony" do
                          %br/
                        Stark, rich, handsome, incredibly wealthy, has it all. He also creates war weapons, when he goes to Afghanastan to introduce a new missile,   he   is captured and told to create the missile for the terrorists. But Tony has other plans, he creates a metal suit and escapes, he goes   back   home and announces that he wants to retire and close down Stark industries due to the violence he saw. But when he learns that the   weapons of   his are in the wrong hands, he realizes that maybe he could re-create a metal suit and become Iron Man, the incredible machine   to save man   kind.
                        %br/
                        = succeed "Iron" do
                          %br/
                        Man is a sure fire hit that I'm sure you won't want to miss. It has everything you could want for a comic book film: action, humor, a   great   cast, romance, and ultimate effects that just get you excited. Even the soundtrack gets you pumped up and ready to root for Iron   Man. The only   complaint, as much as the action was cool, I wish it wasn't the war on terrorism they used, I know it's part of the story,   but it hits so   close, that it may seem inappropriate. The climax, a little cliff hanger, but I'm already smelling a sequel for next year   probably. But Iron   Man is a fun movie that all ages could enjoy, Iron Man is the new Spider Man for 2008!
                        %br/
                        = succeed "8/10" do
                          %br/
                    %hr/
                    #ynd_1867609.yn
                      47 of 64 people found this review helpful. 
                      Was this review helpful to you?
                      %button.btn.small{:name => "ynb_1867609_yes", :onclick => "CS.TMD.user_review_vote(1867609, 'tt0371746', 'yes');", :value => "Yes"} Yes
                      %button.btn.small{:name => "ynb_1867609_no", :onclick => "CS.TMD.user_review_vote(1867609, 'tt0371746', 'no');", :value => "No"} No
                    .see-more
                      %a{:href => "/title/tt0371746/reviews-enter?ref_=tt_urv", :rel => "login"} Review this title
                      %span |
                      = succeed "&nbsp;&raquo;" do
                        %a{:href => "/title/tt0371746/reviews?ref_=tt_urv"} See all 980 user reviews
    
                #boardsTeaser.article
                  %h2 Message Boards
                  Recent Posts
                  %table.boards
                    %tr.odd
                      %td
                        %a{:href => "/title/tt0371746/board/nest/212718795?ref_=tt_bd_1"} 'I want an American cheeseburger...'
                      %td
                        %a{:href => "/user/ur929.485/?ref_=tt_bd_1"} A-zone
                    %tr.even
                      %td
                        %a{:href => "/title/tt0371746/board/nest/210173656?ref_=tt_bd_2"} Deserves a higher rating
                      %td
                        %a{:href => "/user/ur23988284/?ref_=tt_bd_2"} wwiisgttom
                    %tr.odd
                      %td
                        %a{:href => "/title/tt0371746/board/nest/198538325?ref_=tt_bd_3"} Realism in Superhero Movies
                      %td
                        %a{:href => "/user/ur30075304/?ref_=tt_bd_3"} rhodkiewicz
                    %tr.even
                      %td
                        %a{:href => "/title/tt0371746/board/nest/1959.4890?ref_=tt_bd_4"} 'He's all yours'
                      %td
                        %a{:href => "/user/ur2848814/?ref_=tt_bd_4"} churchmany1
                    %tr.odd
                      %td
                        %a{:href => "/title/tt0371746/board/nest/198239407?ref_=tt_bd_5"} Cave scenes take me out of the movie
                      %td
                        %a{:href => "/user/ur4856534/?ref_=tt_bd_5"} tombo677
                    %tr.even
                      %td
                        %a{:href => "/title/tt0371746/board/nest/213407046?ref_=tt_bd_6"} Good iron man vs bad iron man
                      %td
                        %a{:href => "/user/ur41454232/?ref_=tt_bd_6"} achilobator-623-301948
                  .see-more
                    %a{:href => "/title/tt0371746/board/?ref_=tt_bd_sm"} Discuss Iron Man (2008)
                    on the IMDb message boards »
    
            .article.contribute
              .rightcornerlink
                %a{:href => "/help/?adding/&ref_=tt_cn_hlp"} Getting Started
                %span |
                = succeed "&nbsp;&raquo;" do
                  %a{:href => "/czone/?ref_=tt_cn_cz"} Contributor Zone
            
            %br.clear/
          #footer.ft
            %hr{:size => "1", :width => "100%"}/
            #rvi-div
              %br/
              %br/
            %p.footer{:align => "center"}
              %a{:href => "/help/show_article?conditions", :onclick => "(new Image()).src='/rg/help/footer/images/b.gif?link=/help/show_article?conditions';"} Copyright ©
              2013 Jon Neale

%link{:href => "/fancybox/jquery.fancybox-1.3.4.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js", :type => "text/javascript"}
%script{:src => "/fancybox/jquery.fancybox-1.3.4.pack.js", :type => "text/javascript"}

:javascript
    $(document).ready( function(){
      $("#titleCast a, #combined-photos a").fancybox({
            'overlayShow'     :    false
        });
    });
